.loader_container {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  z-index: 999999;
}